[run]
include =
    daquiri/*
omit =
    tests/*
    daquiri/panels/*
    daquiri/examples/*
    daquiri/ui.py
    daquiri/widgets.py

[report]
exclude_lines =
    raise NotImplementedError
    pragma: no cover