[run]
include =
    autodidaqt/*
omit =
    tests/*
    autodidaqt/panels/*
    autodidaqt/examples/*
    autodidaqt/ui.py
    autodidaqt/widgets.py

[report]
exclude_lines =
    raise NotImplementedError
    pragma: no cover