# Editor related
*.code-workspace

# Yarn and NPM Related
# We ignore the JS ecosystem lock files
# because we only use npm as a well known
# and friendly way of invoking scripts
yarn.lock
package-lock.json

# General Python stuff
*.egg
*.egg/
*.egg-info/
*.pyc
.tox/
_build/
build
dist/
.coverage
.cache
htmlcov
*requirement*.txt
*.pickle

.DS_Store
DS_Store

profiling/results/

# PyCharm Related
.idea
out/
logs/

*.webm
daquiri/examples/config.json

node_modules/
